<div class="brick__item {{item.attributes.template}} item--trending"
     style="{{backgroundImage}}">
  <div class="item__icons">
    <div class="item__icons__trending icon--with-text icon--with-text--top">
      {{nypr-svg className="icon" icon="trending"}} Trending
    </div>
    <div class="item__icons__video">
      {{nypr-svg className="icon" icon="video"}}
    </div>
  </div>
  {{#if vertical}}
    <div class="item__img" style="{{backgroundImage}}">
    </div>
  {{/if}}
  <div class="item__head">
    <a class="item__head__brand" href="{{item.attributes.headers.brand.url}}">
      {{item.attributes.headers.brand.title}}
    </a>
    <h2 class="item__head__headline"><a href="{{item.attributes.url}}">
      {{nypr-svg className="icon" icon="video"}}
      {{item.attributes.title}}
    </a></h2>
    {{#if item.attributes.audio}}
      {{#listen-button
        audio=audio
        type='blue-boss'
        state=(if (eq pk audio.currentAudio.id) audio.playState)
        itemPK=item.id
        itemTitle=item.attributes.title}}
        Play {{item.attributes.audioDurationReadable}}
      {{/listen-button}}
    {{/if}}
  </div>
  <a class="item__link--hidden" href="{{item.attributes.url}}">{{item.attributes.title}}</a>
</div>
