{{nypr-brick-item item=items.[0] audio=audio}}

<div class="row__col {{if flip 'flipped'}}">
  {{#if chunk}}
    {{nypr-chunk-item item=chunk}}
  {{else}}
    {{nypr-brick-item item=items.[1] audio=audio}}
    {{nypr-brick-item item=items.[2] audio=audio}}
  {{/if}}
</div>
