{{#dropdown-panel color='white' as |panel|}}
  {{#panel.button tagName="button" aria-haspopup="true" aria-label="More Options" aria-owns=story.id class="btn btn--circle btn--white medium-up"}}
    <i class="fa fa-ellipsis-h"></i>
  {{/panel.button}}
  
  {{#panel.body class="medium-up"}}
    {{#if (and story.audio story.audioMayDownload)}}
    <a href="{{story.audio}}" download="{{story.title}}" class="panel-link link--dark text--medium">
      <i class="fa fa-cloud-download panel-linkicon"></i>
      Download this audio
    </a>
    {{/if}}

    {{#if story.audioMayEmbed}}
    <div class="panel-body box--nearwhite">
      <div class="text flush">
        <p class="h4 flush">Want to embed this player?</p>
        <p class="text--small nudge" id="dropdownLabel_{{story.id}}">Use the code below. <a href="/audio/help" target="_blank">More info</a>.</p>
        <textarea aria-labelledby="dropdownLabel_{{story.id}}" aria-readonly="true" class="textarea textarea--noresize" cols="40" data-category="SelectEmbed" rows="6" onclick={{action 'selectEmbedCode'}} readonly>
          {{{story.embedCode}}}
        </textarea>
      </div>
    </div>
    {{/if}}
  {{/panel.body}}
{{/dropdown-panel}}
