<footer class="text text--medium text--dotted" id="byLine">
    <time datetime="{{moment-format story.dateLineDatetime 'YYYY-MM-DD'}}">{{moment-format story.dateLineDatetime 'MMMM D, YYYY'}}</time>
    {{#if story.extendedStory.appearances.authors}}
         &middot; by
         {{author-list story.extendedStory.appearances.authors}}
    {{/if}}

    {{#if story.extendedStory.producingOrganizations}}
      <div>From
      {{#each story.extendedStory.producingOrganizations as |org index|}}

        {{list-separator story.extendedStory.producingOrganizations index }}
        {{nypr-story/producing-org sourceUrl=story.extendedStory.sourceUrl org=org}}

      {{/each}}
      </div> 
    {{/if}}
</footer>

