<footer class="text text--medium text--dotted" id="byLine">
  <time datetime="{{moment-format dateLineDatetime 'YYYY-MM-DD'}}">
    {{moment-format dateLineDatetime 'MMM D, YYYY'}}
  </time>

{{!--   {{#if authors}}
    &middot; by {{serial-links authors}}
  {{/if}} --}}

  {{#if producingOrganizations}}
    <div class="byline-producing-orgs">
      <span class="separator">From </span>
    {{#each producingOrganizations as |org index|}}

      <span class="separator">{{list-separator producingOrganizations index}}</span>
      {{nypr-story/producing-org sourceUrl=sourceUrl org=org}}

    {{/each}}
    </div> 
  {{/if}}
</footer>
