<div class="accordion {{if flush 'flush'}}" data-state="{{if accordionOpen 'is-expanded' 'is-collapsed'}}" id="segments">
  <div class="accordion-header">
    <div class="text text--white text--medium flush">
      {{segmentCount}} segments
      <button class="btn btn--blank btn--bluetext btn--toggle" data-state="{{if accordionOpen 'first' 'second'}}" role="button" aria-expanded="true" aria-controls="segmentsList" aria-label="Toggle Segment Visibility" onclick={{action 'toggleAccordion'}}>
        <div class="btn-togglecontent">hide <i class="icon icon--inline icon-arrow icon-arrow--up"></i></div>
        <div class="btn-togglecontent">show <i class="icon icon--inline icon-arrow icon-arrow--down"></i></div>
      </button>
    </div>
  </div>
  <!-- .accordion-header -->

  <div class="accordion-collapsable" id="segmentsList">
    <ul class="list flush">
    {{#each segments as |segment|}}
      {{#nypr-story/segment segment=segment as |s|}}
        {{yield (hash
          segment=segment
          buttons=s.buttons
          message=s.message
        )}}
      {{/nypr-story/segment}}
    {{/each}}
    </ul>
  </div>
  <!-- .accordion-collapsable -->

</div>
<!-- .accordion -->
