{{#if (has-block)}}
  {{yield (hash
    header=(component 'nypr-ui/brand-header/header' menuItems=menuItems open=open)
  )}}
{{else}}
  {{nypr-ui/brand-header/header menuItems=menuItems open=open}}
{{/if}}
<div class="nypr-brand-header-overlay-bg {{if open 'active'}}"></div>
{{#burger-menu class="nypr-brand-header-menu" aria-hidden=(if open "false" "true") width=200 open=open position="right" as |burger|}}
  {{#burger.menu dismissOnItemClick=true itemTagName="li" as |menu|}}
    <a {{action burger.state.actions.close}} role="button" class="nypr-brand-header-button nypr-brand-header-close"><span aria-label="close navigation">NYPR Network</span>
      {{nypr-svg className="nypr-brand-header-close-icon" icon="close"}}
    </a>
    <ul class="nypr-brand-header-menu-items">
      {{#each menuItems as |item|}}
        {{logo-link logo=item}}
      {{/each}}
    </ul>
  {{/burger.menu}}
{{/burger-menu}}

