<div class="nypr-brand-header-overlay-bg {{if open 'active'}}"></div>
{{#burger-menu class="nypr-brand-header-menu" width=200 open=open position="right" as |burger|}}
  {{#burger.menu dismissOnItemClick=true itemTagName="li" as |menu|}}
    <a {{action burger.state.actions.close}} role="button" class="nypr-brand-header-button nypr-brand-header-close"><span>NYPR Network</span>
      {{nypr-svg className="nypr-brand-header-close-icon" icon="close"}}
    </a>
    <ul class="nypr-brand-header-menu-items">
      {{#each menuItems as |item|}}
        <a href={{item.url}} target="_blank" class="gtm__click-tracking" data-action="Brand Header" data-label={{item.svg}}>
          {{nypr-svg icon=item.svg className=(concat 'nypr-brand-header__logo-' item.svg)}}
        </a>
      {{/each}}
    </ul>
  {{/burger.menu}}
{{/burger-menu}}
<header class="nypr-brand-header">
  <div class="nypr-brand-header__logo-list">
    <a href={{concat "http://www.nypublicradio.org?utm_medium=partnersite&utm_campaign=brandheader&utm_source=" siteSlug}} target="_blank" class="gtm__click-tracking" data-action="Brand Header" data-label="nypr-logo">
      {{nypr-svg icon="nypr-logo" className="nypr-brand-header__nypr-logo"}}
    </a>
    {{nypr-svg icon="left-bracket" className="nypr-brand-header__square-bracket-open"}}
    {{#each menuItems as |item|}}
			<a href={{item.url}} target="_blank" class="gtm__click-tracking" data-action="Brand Header" data-label={{item.svg}}>
				{{nypr-svg icon=item.svg className=(concat 'nypr-brand-header__logo-' item.svg)}}
			</a>
    {{/each}}
    {{nypr-svg icon="right-bracket" className="nypr-brand-header__square-bracket-close"}}
  </div>
  <a class="nypr-brand-header-button mod-network" {{action (toggle "open" this)}}>NYPR Network{{nypr-svg className="nypr-brand-header-caret" icon="left-arrow"}}</a>
</header>
