{{#if hasBlock}}
  {{yield (hash 
    image=(component 'nypr-ui/hero/image'
           sendImage=(action setImage)
           useBackgroundImage=useBackgroundImage)
    top=(component 'nypr-ui/hero/top')
    headline=(component 'nypr-ui/hero/headline')
    blurb=(component 'nypr-ui/hero/blurb')
    footer=(component 'nypr-ui/hero/footer')
  )}}
  {{#if (or source credit caption)}}
    <span class="hero-source">
      {{caption}}{{#if (or credit source)}} ({{credit}}{{if source ' / '}}{{link-or-text source}}){{/if}}
    </span>
  {{/if}}
{{else}}
  {{log 'Usage without a block is undefined'}}
{{/if}}
