<a class="nypr" href="https://www.nypublicradio.org">
  {{nypr-svg icon="nypr-logo" className="nypr"}}
</a>

<div class="left-bracket">
  {{nypr-svg icon="left-bracket"}}
</div>

<a class="wnyc" href="https://www.wnyc.org" target="_blank" aria-label="Visit WNYC (Opens in new window)">
  {{nypr-svg icon="wnyc-logo"}}
</a>

<a class="gothamist" href="http://gothamist.com" target="_blank" aria-label="Visit Gothamist (Opens in new window)">
  {{nypr-svg icon="gothamist-logo"}}
</a>

<a class="studios" href="https://www.wnycstudios.org" target="_blank" aria-label="Visit WNYC Studios (Opens in new window)">
  {{nypr-svg icon="wnyc-studios-logo"}}
</a>

<a class="wqxr" href="https://www.wqxr.org" target="_blank" aria-label="Visit WQXR (Opens in new window)">
  {{nypr-svg icon="wqxr-logo"}}
</a>

<a class="new-sounds" href="https://www.newsounds.org" target="_blank" aria-label="Visit New Sounds (Opens in new window)">
  {{nypr-svg icon="new-sounds-logo"}}
</a>

<a class="njpr" href="http://www.njpublicradio.org" target="_blank" aria-label="Visit New Jersey Public Radio (Opens in new window)">
  {{nypr-svg icon="njpr-logo"}}
</a>

<a class="greene" href="http://www.thegreenespace.org" target="_blank" aria-label="Visit The Greene Space (Opens in new window)">
  {{nypr-svg icon="greene-space-logo"}}
</a>

<div class="right-bracket">
  {{nypr-svg icon="right-bracket"}}
</div>
