<div class="nypr">
  {{nypr-svg icon="nypr-logo" className="nypr"}}
</div>

<div class="left-bracket">
  {{nypr-svg icon="left-bracket"}}
</div>

<div class="wnyc">
  {{nypr-svg icon="wnyc-logo"}}
</div>

<div class="gothamist">
  {{nypr-svg icon="gothamist-logo"}}
</div>

<div class="studios">
  {{nypr-svg icon="wnyc-studios-logo"}}
</div>

<div class="wqxr">
  {{nypr-svg icon="wqxr-logo"}}
</div>

<div class="new-sounds">
  {{nypr-svg icon="new-sounds-logo"}}
</div>

<div class="njpr">
  {{nypr-svg icon="njpr-logo"}}
</div>

<div class="greene">
  {{nypr-svg icon="greene-space-logo"}}
</div>

<div class="right-bracket">
  {{nypr-svg icon="right-bracket"}}
</div>
