<label for="{{fieldname}}" class="nypr-input-label">{{{label}}}</label>
{{input
  name=fieldname
  id=fieldname
  placeholder=placeholder
  type=type
  class="nypr-input"
  value=value
  disabled=disabled
  focus-in=(action (mut focused) true)
  focus-out=(action (mut blurred) true)
  change=onChange
  input=onInput
  }}
{{#if showValidMark}}
  {{nypr-svg className="nypr-input-validmark" icon="checkmark"}}
{{/if}}

<div class="nypr-input-footer">
  {{#if helplinkUrl}}
    <div class="nypr-input-helplink">
      <a href={{helplinkUrl}}>{{helplinkText}}</a>
    </div>
  {{/if}}
  {{#if hasError}}
    <div class="nypr-input-error">
      {{#each errors as |error|}}
        {{{error}}}<br>
      {{/each}}
    </div>
  {{else}}
    {{#if showAdvice}}
      <div class="nypr-input-advice">{{clue}}</div>
    {{/if}}
  {{/if}}
</div>
