{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class="item__icons">
    <div class="item__icons__video">
      {{nypr-svg className="icon" icon="video"}}
    </div>
  </div>
  {{#if vertical}}
    <div class="item__img {{ item.template }}" style={{backgroundImage}}>
    </div>
  {{/if}}
  <div class="item__head">
    <a class="item__head__brand" title={{item.headers.brand.title}} href={{item.headers.brand.url}}>
      {{item.headers.brand.title}}
    </a>
    <h2 class="item__head__headline">
      {{#link-to modelName item.slug title=analyticsTitle}}
        {{nypr-svg className="icon" icon="video"}}
        {{or item.shortTitle item.title}}
      {{/link-to}}
    </h2>
    {{#if item.audio}}
      {{#listen-button
        audio=audio
        type='blue-minion'
        state=(if (eq pk audio.currentId) audio.playState)
        itemPK=pk
        itemTitle=(if item.shortTitle item.shortTitle item.title)}}
        Listen {{item.audioDurationReadable}}
      {{/listen-button}}
    {{/if}}
  </div>
  {{#link-to modelName item.slug class="item__link--hidden" title=analyticsTitle}}
    {{or item.shortTitle item.title}}
  {{/link-to}}
{{/if}}
