{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class="item__icons">
    <div class="item__icons__video">
      {{nypr-svg className="icon" icon="video"}}
    </div>
  </div>
  {{#if vertical}}
    <div class="item__img {{ item.attributes.template }}"
         style={{backgroundImage}}>
    </div>
  {{/if}}
  <div class="item__head">
    <a class="item__head__brand" title={{item.attributes.headers.brand.title}} href={{item.attributes.headers.brand.url}}>
      {{item.attributes.headers.brand.title}}
    </a>
    <h2 class="item__head__headline">
      {{#link-to 'story' item.attributes.slug title=analyticsTitle}}
        {{nypr-svg className="icon" icon="video"}}
        {{if item.attributes.shortTitle item.attributes.shortTitle item.attributes.title}}
      {{/link-to}}
    </h2>
    {{#if item.attributes.audio}}
      {{#listen-button
        type='blue-minion'
        itemPK=item.attributes.slug
        itemTitle=(if item.attributes.shortTitle item.attributes.shortTitle item.attributes.title)
        itemShow=(or item.attributes.showTitle item.attributes.headers.brand.title)}}
        Listen {{item.attributes.audioDurationReadable}}
      {{/listen-button}}
    {{/if}}
  </div>
  {{#link-to 'story' item.attributes.slug class="item__link--hidden" title=analyticsTitle}}
    {{if item.attributes.shortTitle item.attributes.shortTitle item.attributes.title}}
  {{/link-to}}
{{/if}}
