{{#if hasBlock}}
  {{yield}}
{{else}}
{{#with item.attributes as |item|}}
  <div class="item__icons">
    <div class="item__icons__video">
      {{nypr-svg className="icon" icon="video"}}
    </div>
  </div>
  {{#if vertical}}
    <div class="item__img {{ item.attributes.template }}"
         style={{backgroundImage}}>
    </div>
  {{/if}}
  <div class="item__head">
    <a
      class="item__head__brand"
      title={{or items.showTitle item.channelTitle 'NPR Article'}}
      data-label={{or item.showTitle item.channelTitle 'NPR Article'}}
      href={{item.headers.brand.url}}>
      {{or item.showTitle item.channelTitle}}
    </a>
    <h2 class="item__head__headline">
      <a
        title={{or item.shortTitle item.title}}
        data-label={{concat item.title " | " (or item.showTitle item.channelTitle 'NPR Article')}}
        href={{item.url}}>
          {{nypr-svg className="icon" icon="video"}}
          {{or item.shortTitle item.title}}
      </a>
    </h2>
    {{#if item.audio}}
      {{#listen-button
        type='blue-minion'
        itemPK=item.slug
        itemTitle=(or item.shortTitle item.title)
        itemShow=(or item.showTitle item.channelTitle 'NPR Article')}}
        Listen {{item.audioDurationReadable}}
      {{/listen-button}}
    {{/if}}
  </div>
  {{#link-to
    'story'
    item.slug
    class="item__link--hidden"
    data-label=(concat item.title " | " (or item.showTitle item.channelTitle 'NPR Article'))}}
    {{or item.shortTitle item.title}}
  {{/link-to}}
{{/with}}
{{/if}}
