<label for="{{fieldname}}" class="nypr-input-label">{{label}}</label>
{{input
  name=fieldname
  id=fieldname
  placeholder=placeholder
  type=type
  class="nypr-input"
  value=value
  disabled=disabled
  focus-in=(action (mut entered) true)
  focus-out=(action (mut exited) true)}}
{{#if showValidMark}}
  {{nypr-svg className="nypr-input-validmark" icon="checkmark"}}
{{/if}}

<div class="nypr-input-footer">
  {{#if hasError}}
    <span class="nypr-input-error">
      {{#each errors as |error|}}
        {{{error}}}<br>
      {{/each}}
    </span>
  {{else}}
    {{#if showAdvice}}
      <span class="nypr-input-advice">{{clue}}</span>
    {{/if}}
  {{/if}}
  {{#if helplinkUrl}}
    <span class="nypr-input-helplink">
      <a href={{helplinkUrl}}>{{helplinkText}}</a>
    </span>
  {{/if}}
</div>
