{{#if link}}
  <a href={{link}}>
    <div class="support-stripe__wrapper">
      {{yield (hash
      link=(component 'nypr-ui/support-stripe/link')
      text=(component 'nypr-ui/support-stripe/heading')
      )}}
    </div>

    <div class="support-stripe__image" style={{image}}></div>
  </a>
{{else}}
  <div class="support-stripe__wrapper">
    {{yield (hash
      link=(component 'nypr-ui/support-stripe/link')
      text=(component 'nypr-ui/support-stripe/heading')
    )}}
  </div>

  <div class="support-stripe__image" style={{image}}></div>
{{/if}}
