{{#if (eq type 'Email')}}
<a href={{share-url 'Email' shareUrl shareText}}
  class={{class}}
  {{action 'closePopup' preventDefault=false}}
  target="_blank">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    Email
  {{/if}}
</a>
{{else}}
<button class={{class}} {{action open (share-url type shareUrl shareText via)}}>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{type}}
  {{/if}}
</button>
{{/if}}
