{{#site-chrome as |chrome|}}
  {{#chrome.nav as |nav|}}
    {{#nav.corner}}
      <h1 class="site-title">
        {{link-to 'nypr-ui' 'index'}}
      </h1>
    {{/nav.corner}}

    {{#nav.links as |links|}}
      {{links.link 'nypr-card' 'card'}}
      {{links.link 'nypr-multi-card' 'multi-card'}}
      {{links.link 'nypr-brick-layout' 'brick'}}
      {{links.link 'nypr-svg' 'svg'}}
      {{links.link 'nypr-tabs' 'tabs'}}
      {{links.link 'site-chrome' 'chrome'}}
      {{links.link 'hero' 'hero'}}
      {{links.link 'nypr-ui/brand-header' 'brand-header'}}
      {{links.link 'support-stripe' 'support-stripe'}}
    {{/nav.links}}

  {{/chrome.nav}}

  {{#chrome.body}}
    <div class="l-page">
      {{outlet}}
    </div>
  {{/chrome.body}}
{{/site-chrome}}
