{{md-text
  text="
## Multi card

The `nypr-multi-card` component can be used to create simple links between cards by using the yielded `panel` component. At minimum, each `panel` takes a `to` attribute, which points to another panel by its index in the DOM tree.

### Basic Usage
Use the exposed `button` property on the yielded `panel` to place the button that will switch to another panel.
```htmlbars
{{#nypr-multi-card as |m|}}
  
  {{#m.panel to=1 as |panel|}}
    Here's panel 0. It's the default because it's first in the DOM.<br />
    {{panel.button text=\"Show me the next panel\"}}
  {{/m.panel}}
  
  {{#m.panel to=0 as |panel|}}
    Here's panel 1. You switch to it using the button from panel 0.<br />
    {{#panel.button}}You can also open the button if you want more complicated markup{{/panel.button}}
  {{/m.panel}}
  
{{/nypr-multi-card}}
```
"
}}

{{#nypr-multi-card as |m|}}
  {{#m.panel to=1 as |panel|}}
    Here's panel 0. It's the default because it's first in the DOM.<br />
    {{panel.button text="Show me the next panel"}}
  {{/m.panel}}
  
  {{#m.panel to=0 as |panel|}}
    Here's panel 1. You switch to it using the button from panel 0.<br />
    {{#panel.button}}You can also open the button if you want more complicated markup{{/panel.button}}
  {{/m.panel}}
{{/nypr-multi-card}}

{{md-text
  text="
### Advanced

`panels` are actually just `nypr-card` components under the hood, and they expose the same API on the `header` property, so you can open up `panel.header` to add a title or even pu the control button in there.
"
}}

{{code-snippet name="advanced-multi-card.hbs"}}

{{! BEGIN-SNIPPET advanced-multi-card }}
{{#nypr-multi-card as |m|}}
  
  {{#m.panel to=1 as |panel|}}
    {{panel.header title="Welcome"}}
    <p>
      Hello and welcome.
    </p>
    {{#panel.button}}See Your History{{/panel.button}}

  {{/m.panel}}
  
  {{#m.panel title="Your History" to=2 as |panel|}}
    {{#panel.header as |header|}}
      {{#panel.button}}See Your Info{{/panel.button}}
      {{header.title}}
    {{/panel.header}}
    
    Your History
    <ul>
      <ol>
        First
      </ol>
      <ol>
        Second
      </ol>
    </ul>
  {{/m.panel}}
  
  {{#m.panel title="Your Info" to=0 as |panel|}}
    {{#panel.header as |header|}}
      {{#panel.button}}Back{{/panel.button}}
      {{header.title}}
      {{#header.button click=(action (mut isEditing) (not isEditing))}}
        {{if isEditing 'Save' 'Edit'}}
      {{/header.button}}
    {{/panel.header}}
    
    <h4>Your Name</h4>
    {{#if isEditing}}
      {{input value=yourName placeholder='Enter your name'}}
    {{else}}
      {{yourName}}
    {{/if}}
  
  {{/m.panel}}
  
{{/nypr-multi-card}}
{{! END-SNIPPET }}
